<ul>
  <li><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
  <li>
    <a [routerLink]="['/insurancetype']" routerLinkActive="active">Dashboard</a>
  </li>
  <li>
    <a [routerLink]="['/checkdetails']" routerLinkActive="active">Customers</a>
  </li>
  <li>
    <a [routerLink]="['/details']" routerLinkActive="active">Add Customer</a>
  </li>
  <li>
    <a [routerLink]="['/heroes']" routerLinkActive="active">Contact Us</a>
  </li>
  <li><a [routerLink]="['/heroes']" routerLinkActive="active">Location</a></li>
</ul>
<div class="tag">
  <img src="../../../assets/images/image3.svg" alt="_blank" />
  <br />
  <i>Your Insurance is our concern</i>
</div>
